*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
/common/build
app/release
app/alpha
app/debug
app/beta
app/official
/build-logic/build/
