<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.WRITE_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="32"
        tools:ignore="SelectedPhotoAccess" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:name=".base.app.App"
        android:allowBackup="true"
        android:configChanges="locale"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BILIBILIAS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".home.ui.activity.user.UserVideoDownloadActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.activity.user.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.activity.tool.MergeVideoActivity"
            android:exported="false" />

        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="0f9d51ff82" /> <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="@string/app_channel" /> <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" /> <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" /> <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" /> <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" /> <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.imcys.bilibilias.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bilibilias_file_paths" />
        </provider>

        <activity
            android:name=".home.ui.activity.tool.WebAsActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.activity.favlist.FavListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home.ui.activity.user.BangumiFollowActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home.ui.activity.DonateActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.activity.DedicateActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.activity.user.PlayHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.activity.user.CollectionActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".home.ui.activity.AsVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.BILIBILIAS.NoActionBar" />
        <activity
            android:name=".home.ui.activity.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <!-- 按如下格式添加整个intent-filter块，其中data字段只能有一个，其内容是mtj拼接上您的appkey -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mtj0f9d51ff82" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splash.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashOverlay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|smallestScreenSize"
            android:exported="false"
            android:theme="@style/Theme.BILIBILIAS" />
    </application>

</manifest>