<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".ui.CreateRoamActivity"
            android:theme="@style/Theme.BILIBILIAS" />
        <activity
            android:name=".ui.RoamMainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.BILIBILIAS" />
    </application>

</manifest>