name: GitHub Release with APKs

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    timeout-minutes: 120

    steps:
      - name: GitHub Tag Name example
        run: |
          echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME"
          echo "Tag name from github.ref_name: ${{  github.ref_name }}"

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
          ls /dev/kvm

      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          validate-wrappers: true
          gradle-home-cache-cleanup: true

      - name: Install GMD image for baseline profile generation
        run: yes | "$ANDROID_HOME"/cmdline-tools/latest/bin/sdkmanager "system-images;android-33;aosp_atd;x86_64"

      - name: Build release variant including baseline profile generation
        run: ./gradlew :app:assembleDemoRelease
          -Pandroid.testInstrumentationRunnerArguments.androidx.benchmark.enabledRules=BaselineProfile
          -Pandroid.testoptions.manageddevices.emulator.gpu="swiftshader_indirect"
          -Pandroid.experimental.testOptions.managedDevices.emulator.showKernelLogging=true
          -Pandroid.experimental.androidTest.numManagedDeviceShards=1
          -Pandroid.experimental.testOptions.managedDevices.maxConcurrentDevices=1

      # 签名apk
      - uses: noriban/sign-android-release@v5.1
        name: Sign app APK
        id: sign_app
        with:
          releaseDirectory: 'app/build/outputs/apk/demo/release'
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: rename apk
        run: |
          ll app/build/outputs/apk/demo/release
          ll app/build/outputs/apk/demo/release/baselineProfiles
          cd app/build/outputs/apk/demo/release
          mv app-demo-release-unsigned-signed.apk Bilibili-As-${{ github.ref_name }}.apk
          ls

      - name: Create Release and Upload Release Asset
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref }}
          draft: false
          prerelease: false
          generate_release_notes: true
          files: |
            app/build/outputs/apk/demo/release/Bilibili-As-Lite-${{ github.ref_name }}.apk

      - name: test command
        run: |
          echo "${{ fromJSON(steps.create_release.outputs.assets)[0].browser_download_url }}"


  generateModuleGraphs:
    name: 'generate module graphs'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          validate-wrappers: false
          gradle-home-cache-cleanup: false

      - name: Install Package
        run: sudo apt-get install graphviz
      - uses: actions/setup-node@v4
        with:
          node-version: 21.7.3
      - run: npm install --no-fund -g svgo

      - name: Generate Module Graphs And README
        run: |
          chmod +x generateModuleGraphs.sh
          ./generateModuleGraphs.sh --exclude-module :benchmarks \
          --exclude-module :lint \
          --exclude-module :ui-test-hilt-manifest

      - name: Upload Graphs
        uses: actions/upload-artifact@v4
        with:
          name: module_graphs
          path: 'docs/images/graphs/'